.App {
  text-align: center;
  font-family: "Poppins",sans-serif;
  /* background-color: #282c34; */
  /*background-image: url("./resources/bkhospital1.jpg");*/
  background-image: url("./resources/vectorFish.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#list {
  display: block;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.heading {
  /* position: relative;
  left: 50%; */

  border-style: solid;
  border-radius: 10px;

 
  min-height: 75px;
  padding:15px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;


  /* width: 600px; */
  margin-bottom:3px;
  text-align: justify;
  overflow-wrap: break-word;

  background-color: rgb(39, 38, 38);
  color: white;
}

.bigCheckbox { 
  transform : scale(5); 
} 


 /* Customize the label (the container) */
 .CheckBoxContainer {
  position: relative;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.CheckBoxContainer input {
  position: absolute;
  display:none;
  /* opacity: 0;
  height: 0;
  width: 0; */
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  right: 0;

  cursor: pointer;
  background-color: #eee;
  height: 100px;
  width: 100px;

  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;

  border: solid;
  border-radius: 25px;

  background-color: rgb(39, 38, 38);
  color: white;
}

/* On mouse-over, add a grey background color */
.CheckBoxContainer:hover input ~ .checkmark {
  background-color: rgb(155, 150, 150);
  
}

/* When the checkbox is checked, add a blue background */
.CheckBoxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
  font-size: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}

/* Show the checkmark when checked */
.CheckBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CheckBoxContainer .checkmark:after {
  left: 36px;
  top: 20px;
  width: 20px;
  height: 40px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

/* grid size control */
.grid-CheckBoxContainer {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  padding-bottom: 2px; /*bugg? required for symmetry*/
  width: 90%;
  grid-template-columns: auto 100px;
  grid-column-gap: 10px;
  margin-bottom: -2px;

  min-height: 110px;

  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}

.grid-FormContainer {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  padding-bottom: 2px; /*bugg? required for symmetry*/
  width: 90%;
  grid-template-columns: auto 100px;
  grid-column-gap: 18px;
  margin-bottom: -2px;

  min-height: 115px;

  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}

.grid-FormContainer1 {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  padding-bottom: 2px; /*bugg? required for symmetry*/
  width: 90%;
  grid-column-gap: 18px;


  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}


.grid-FormContainer2 {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  padding-bottom: 2px; /*bugg? required for symmetry*/
  width: 90%;
  grid-template-columns: 48.5% 48.5%;
  grid-column-gap: 18px;
  margin-bottom: -2px;

  min-height: 115px;

  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}


.grid-MainContainer {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  width: 70%;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: rgb(39, 38, 38);
  color: white;
  /*border: solid #2196F3;*/
  border: solid #63afee;
  border-radius: 25px;
}

/* #################################### */
/* ###########  new design  ########### */
/* #################################### */

:root {
  --background:#212529; /*Dashboard background*/
  --itembackground:#1b232a; /*#1b232a dashboard item background*/
  --graphbackground: #dd1212;

  --graph-0: rgb(255, 99, 132, 0.0);

  --graph-red-line: rgb(255, 99, 132, 1);
  --graph-red-hoverline: var(--graph-red-line);
  --graph-red-fill: rgb(255, 99, 132, 0.1);
  --graph-red-hoverfill: rgb(255, 99, 132, 0.3);
  
  --graph-red-axiz: rgb(255, 99, 132, 0.1);

  --graph-green-line: rgba(99, 255, 133, 0.856);
  --graph-green-hoverline: var(--graph-green-line);
  --graph-green-fill: rgba(99, 255, 133, 0.1);
  --graph-green-hoverfill: rgba(99, 255, 133, 0.3);

  --graph-blue-line: rgba(49, 104, 255, 0.856);
  --graph-blue-hoverline: var(--graph-blue-line);
  --graph-blue-fill: rgba(99, 102, 255, 0.1);
  --graph-blue-hoverfill: rgba(99, 102, 255, 0.3);

}

/* .col-xs-6 {
  flex-basis: 50%;
} */


.dashboard-main {
  /* display: grid;
  margin-left: auto;
  margin-right: auto; */

  /* width: 70%;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px; */

  background-color: var(--background);
  color: white;
  /*border: solid #2196F3;*/
  border: solid #63afee;
  border-width: 1px; /* mark struct for now */
  /* border-radius: 25px; */

  padding-left: 250px; /* Make room for hover main menu bar component */
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden
}

.dashboard-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin-top: 15px;
  margin-bottom: 15px;

  background-color: var(--itembackground);
  border: 1px solid #63afee;
  word-wrap: break-word;

  min-width: 0;
  flex-basis: 50%;
  overflow: hidden

}

.dashboard-item-top {
  margin-top: 5px;
  position: relative;
  width: 500px;
  overflow: hidden

}

.dashboard-item-graph {
  height: 250px;
  width: 100%;
  overflow: hidden

}

.dashboard-item-bottom {
  margin-bottom: 5px;
  position: relative;
  width: 500px;
  overflow: hidden

}


.nav-main {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto;

  margin-right: -15px;
  margin-left: -15px;

  background-color: var(--background);
  color: white;
  border: solid #63afee;
  border-width: 1px; /* mark struct for now */
}

.navbarbutton {

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--background);
  border-width: 0px;
}



 /* DO to all elements: include padding  and border in elements total height and width */
 * {
  box-sizing: border-box;
}

/* #################################### */
/* #########  end of new design ####### */
/* #################################### */














.report-Container2 {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  padding-bottom: 2px; /*bugg? required for symmetry*/
  
  width: 90%;
  grid-template-columns: 48.5% 48.5%;
  grid-column-gap: 18px;
  margin-bottom: -2px;

  min-height: 300px;

  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}

.report-Container1 {
  display: grid;
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  padding-bottom: 2px; /*bugg? required for symmetry*/
  
  width: 90%;
  grid-template-columns: 97%;
  grid-column-gap: 18px;
  margin-bottom: -2px;

  min-height: 300px;

  /* background-color: #eee;
  border: solid #ffffff;
  border-radius: 25px; */

  background-color: rgb(39, 38, 38);
  color: white;
}



.grid-MainReportDashboard{
  display: grid;
  margin-left: auto;
  margin-right: auto;

  width: 90%;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 600px;

  background-color: rgb(39, 38, 38);
  color: white;
  border: solid #2196F3;
  border-radius: 25px;


}



.form-TextInput input {
  min-height: 100px;
  width: 100%;
  height: 70%;
  background-color: #282c34;


  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;

  border: solid white;
  border-radius: 10px;
}